body {
	background-color: #EFFFE9;
	top: 0;
	padding-top: 3em;
}
.blockPomodoro{
	/*margin-top: 20px;*/
}

h1.ui.header {
	font-size: 4em;
}

.countdown {
	border: solid black 2px;
	height: 200px;
	width: 600px;
}

.countdown span {
	font-size: 8em;
	font-weight: bold;
	line-height: 1.5;
}

.bodyPercent.bodyPercent {
	width: 100%;
	height: 0%;
	position: absolute;
	background-color: #E0E3DA;
	top: 0;
}
.blockPomodoro.blockPomodoro{
	position: relative;
}

.percentage {
	height: 0px;
	border-radius: 3px;
}
.percentContainer{
	width: 500px;
	border-bottom: solid #DB2828 20px;
}
.percentContent{
	width: 0%;
	border-top: solid #21BA45 20px;
}